/* estilos.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #ffffff;
}

.acciones {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.accion {
    background-color: #3498db;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.accion:hover {
    background-color: #2980b9;
}

.inactivo {
    background-color: #95a5a6;
    pointer-events: none;
    cursor: not-allowed;
}

.mensaje {
    color: red;
    font-weight: bold;
    margin-top: 15px;
}
.container {
    margin: 0 auto; 
    background-color: #fff; 
    text-align: center; 
}

.container table {
    margin: 0 auto;       
    border-collapse: collapse; 
    width: 100%;           
    max-width: 1000px;     
}

.boton {
    display: inline-block;
    background: linear-gradient(135deg, #5463a1);
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
    margin: 10px 0;
}

.btn-atras {
    position: absolute;
    top: 10px;                
    left: 1475px;
    background-color: #d83f3f;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn-lista {
    position: absolute;
    top: 25px;                
    left: 1460px;
    background-color: #d83f3f;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}


